In [41]:
import numpy as np
import pandas as pd

# データの準備

In [42]:
m,n = 5,6

In [43]:
np.random.seed(seed=32)
V = np.random.randint(1, 6, (m, n))

In [44]:
pd.DataFrame(V)

   0  1  2  3  4  5
0  4  5  1  4  5  2
1  4  3  2  5  4  2
2  4  2  3  4  1  3
3  3  3  5  3  5  5
4  2  2  4  4  1  3

# 自作NMF

In [45]:
import os
import sys
pardir = os.path.dirname(os.getcwd())
sys.path.append(pardir)

In [46]:
from src.model import My_NMF

In [47]:
instance = My_NMF(component = 3, _iter = 100)
W,H= instance.decompose(V)

In [48]:
pd.DataFrame(np.dot(W,H))

          0         1         2         3         4         5
0  4.105663  4.483667  1.009778  4.145849  5.278104  1.893783
1  4.088851  3.649216  1.924342  4.644312  3.585261  2.245808
2  3.371463  2.059608  3.178355  4.460508  1.149193  2.705776
3  2.822890  3.162313  5.040065  3.066908  4.954653  4.960533
4  2.679786  1.556198  3.835175  3.669688  1.067101  3.200481

# sklearnで実装

だいたい結果は一致してそう。

In [51]:
from sklearn.decomposition import NMF
model = NMF(n_components=3, init='random', random_state=0) # n_componentsで特徴の次元を指定

W = model.fit_transform(V) # 学習
H = model.components_

In [52]:
pd.DataFrame(np.dot(W,H))

          0         1         2         3         4         5
0  4.104803  4.488402  1.008566  4.145359  5.276524  1.892508
1  4.087819  3.650669  1.926355  4.643604  3.583758  2.246943
2  3.372184  2.057559  3.178540  4.461169  1.148515  2.705530
3  2.823574  3.157211  5.040246  3.067257  4.957157  4.961058
4  2.681254  1.553267  3.833915  3.670377  1.069521  3.199763